<!doctype html>
<html lang="ru" data-page-format="{{ render_target.page_format|lower }}">
<head>
    <meta charset="utf-8">
    <title>{{ document.title }}</title>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
            }
        };
    </script>
    <script
        id="MathJax-script"
        defer
        src="{{ mathjax_script_url }}"
    ></script>
    <style>
{% include "documents/html/base/work_document_styles.css" %}
    </style>
    {% if custom_css %}
    <style>
{{ custom_css|safe }}
    </style>
    {% endif %}
</head>
<body class="school-document school-document-{{ document.document_type }}">
{{ body_content|safe }}
</body>
</html>
